.add-cart-message-wrapper {
  background-color: $primary-dark;
  color: white;
  @include breakpoint(medium down) {
    left: 10%;
    right: 10%;
  }
  .option-button-wrapper {
    float: none;
    .checkout {
      background-color: $primary-light;
      margin-top: 20px;
      padding: 0;
      a {
        color: white;
        padding: 5px 10px;
        display: block;
      }
    }
    .continue {
      margin-bottom: 0;
    }
  }
}
