body.not-logged-in {
  .mega-menu {
    .dropdown-pane {
      top: 228px !important;
      //@include breakpoint(xlarge down) {
      //  top: 270px !important;
      //}
      //@include breakpoint(large down) {
      //  top: 320px !important;
      //}
    }
  }
}

.mega-menu {
  @include breakpoint(medium down) {
    display: none;
  }
  .dropdown-pane {
    border-top: 2px solid $primary-light;
    border-bottom: 2px solid $primary-light;
    border-left: none;
    border-right: none;
    padding-top: 28px !important;
    padding-bottom: 28px !important;
    width: 100%;
    margin: 0 auto !important;
    left: 0% !important;
    right: 0% !important;
    top: 257px !important;
    background: rgba($primary-dark, .95);
    color: #fff;
  }

}