.page-node-1009 {
  #main-content {
    .field-items {
      .field-item {
        padding-bottom: 1em;
        .field-name-field-faq-question {
          margin-bottom: 1em;
          padding-left: 1em;
          display: flex;
          align-items: flex-end;
          font-weight: bold;
          @include breakpoint(small down) {
            align-items: flex-start;
          }
          &:before {
            content: 'Q:';
            font-size: 32px;
            color: $primary-light;
            padding-right: 12px;
          }
        }
        .field-name-field-faq-answer {
          margin-bottom: 1em;
          padding-left: 1em;
          display: flex;
          align-items: flex-start;
          &:before {
            content: 'A:';
            font-size: 32px;
            color: $primary-light;
            padding-right: 12px;
          }
        }
      }
    }
  }
}