#footer-wrap {
  background-color: #000;
  clear: both;
  //footer menus
  .content {
    ul {
      display: flex;
      flex-direction: column;
      li {
        list-style-type: none;
        list-style-image: none;
        margin-left: 0;
        margin-bottom: .2em;
        a {
          padding: 0;
        }
      }
    }
  }
  .row {
    padding: 2em 0;
    .region-footer-first {
      @include grid-column(6);
      iframe {
        @include breakpoint(medium down) {
          max-width: 100%;
        }
      }
    }
    .region-footer-second {
      @include grid-column(3);
    }
    .region-footer-third {
      @include grid-column(3);
    }
  }
  h1 {
    color: white;
  }
  ul {
    list-style-type: none;
    margin-left: 0;
    li {
      a {
        color: white;
        &:hover {
          color: lightgrey;
        }
      }
    }
  }
  #credits-wrap {
    padding: .5em 0 2em 0;
    text-align: center;
    justify-content: center;
    #credits {
      text-align: center;
      color: white;
      font-size: 13px;
      a {
        color: $primary-light;
      }
    }
  }
}