#logo-wrap {
  .row {
    text-align: center;
    flex-flow: nowrap;
  }
  #nav-wrap {
    @include breakpoint(medium down) {
      display: none;
    }
    .region-navigation {
      display: flex;
      flex-direction: column;
      .content {
        ul {
          margin-bottom: 1.2em;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #000;
          text-transform: uppercase;
          li {
            list-style-image: none;
            list-style-type: none;
            border-right: 2px solid $primary-light;
            padding: 0;
            margin: 0;
            height: 28px;
            &:last-child {
              border-right: none;
            }
            a,
            span {
              color: #fff;
              //font-family: 'Nexa-Bold';
              text-transform: uppercase;
              font-size: 22px;
              padding: 0 2em;
              display: inline-block;
              height: 17px;
              &:hover {
                text-shadow: 0px 0px 8px #ddc296;
                transition: all 0.1s;
                transform: scale(1.1, 1.1);
              }
            }
            span[aria-expanded="true"],
            a[aria-expanded="true"] {
              color: $primary-light;
            }
          }
        }
      }
    }

    //@include breakpoint(medium down) {
    //  display: none;
    //}
  }
  #header-callout-wrap {
    background: #000;
    padding: .5em 0;
    border-top: 2px solid $accent-light;
    border-bottom: 2px solid $accent-light;
    width: 100%;
    #block-block-2 {
      .content {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;

        p {
          margin-bottom: 0;
          color: #fff;
          @include breakpoint(medium down) {
            font-size: 14px;
            line-height: 1.1;
            text-align: center;
          }
        }
        a {
          color: $primary-light;
          font-size: 18px;
          margin: 0;
          @include breakpoint(medium down) {
            font-size: 14px;
          }
        }
      }
    }
  }
}


//Accordion mobile choose vehicle
header {
  border-bottom: 1px solid #333;
  .accordion-menu {
    .is-accordion-submenu-parent {
      width: auto;
      .is-accordion-submenu {
        margin: 0 20px 0 15px;
      }
    }
    background: $primary-light;
    color: #fff;
    border-bottom: 2px solid #000;
    display: none;
    padding-top: 5px;
    @include breakpoint(medium down) {
      display: flex;
    }
    .choose-vehicle-trigger {
      color: #fff;
      h5 {
        margin-bottom: 0;
        text-transform: uppercase;
      }
      &:after {
        border-color: $accent-dark transparent transparent !important;
      }
    }
    #block-facetapi-xwrpannvxdtrrdtlytadz1ghmwpdmcj0,
    #block-fitment-base-fitment-base {
      h2 {
        display: none;
      }
      .messages {
        display: none;
      }
      form {
        .form-item {
          margin-top: 0;
        }
        .item-list {
          ul {
            list-style-image: none;
            list-style-type: none;
            li {
              display: flex;
              align-items: center;
              list-style-image: none;
              list-style-type: none;
              width: auto;
              margin: 0 1.5em 0.25em 1.5em;
              a {
                order: 2;
                @extend .black-flat-button2;
                padding: 10px 14px;
                text-align: center;
                width: 100%;
                margin-bottom: .7em;

              }
            }
            li.first {
              display: flex;
              flex-direction: column;
            }
          }
        }
        input[type="submit"] {
          @extend .transparent-button;
          color: #fff;
        }
        label {
          display: none;
        }
        select {
          margin-bottom: .2em;
          background-image: none;
        }
      }
    }
  }
}