//div.is-visible {
//  z-index: 12;
//}

#offCanvas {
  background: $primary-dark;
  button {
    z-index: 25;
    color: #fff;
    span {
      font-size: 52px;
    }
  }
  img {
    max-width: 100px;
    height: auto;
    position: relative;
    left: 33%;
    margin-top: 12%;
  }
  .menu,
  #om-menu-main-menu {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: flex-start;
    //margin-top: 2em;
    width: 100%;
    height: auto;
    li {
      list-style-image: none;
      list-style-type: none;
      width: 100%;
      border-top: 1px solid grey;
      background: $primary-dark; /* For browsers that do not support gradients */
      background: linear-gradient(#575757, $primary-dark);
      margin: 0;
      padding: 0 !important;
      height: auto !important;
      a,
      span {
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        padding-top: .8em;
        padding-bottom: .8em;
        width: 100%;
        height: auto !important;
        &:hover,
        &:active {
          background: $primary-light; /* For browsers that do not support gradients */
          background: linear-gradient($primary-lighter, $primary-light);
          color: #fff;
        }
      }
      &:last-child a {
        border-bottom: 1px solid grey;
      }
    }
  }
  .om-maximenu-middle-right {
      display: none;
  }
}