.off-canvas-content {
  background: $primary-dark;
  border-bottom: 1px solid #fff;
  height: 56px;
  z-index: 21;
  border-top: 1px solid #000;
  i {
    color: #fff;
    font-size: 26px;
    margin: 0 10px;
  }
  .title-bar {
    display: none;
    @include breakpoint(medium down) {
      display: block;
    }
    .title-bar-left {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .mobile-buttons-left {
        display: flex;
        align-items: center;
        h5, h6 {
          margin-top: 9px;
          color: #fff;
          margin-left: -8px;
        }
        .menu-icon {
          margin: 19px;
          &:after {
            width: 130%;
            height: 3px;
            background: #fff;
            box-shadow: 0 7px 0 #fff, 0 14px 0 #fff;
          }
        }
        .region-header-top-left {
          display: flex;
          align-items: center;
          #block-block-2 {
            display: none;
          }
          i {
            color: #fff;
            font-size: 25px;
            margin-right: 5px;
          }
          .views-exposed-widgets {
            display: flex;
            align-items: center;
            margin-left: 15px;
            margin-bottom: 0;
            #edit-search-api-views-fulltext-wrapper {
              width: 365px;
              padding: 0;
            }
            #edit-search-api-views-fulltext {
              margin-bottom: 0;
              height:28px;
              background: transparent;
              color: white;
              border-radius: 25px;
              border: 1px solid white;
              padding: 0 0 0 8px;
              &::-webkit-input-placeholder {
                color: white;
                font-size: 14px;
                color: lightgrey;
              }
              &:-moz-placeholder {
                color: white;
                font-size: 14px;
                color: lightgrey;
                opacity: 1;
              }
              &::-moz-placeholder {
                color: white;
                font-size: 14px;
                color: lightgrey;
                opacity: 1;
              }
              &:-ms-input-placeholder {
                color: white;
                font-size: 14px;
                color: lightgrey;
              }
            }
            #edit-submit-products {
              margin: 0;
              height: 28px;
              width: 70px;
              cursor: pointer;
              border-color: #e4e4e4 #d2d2d2 #b4b4b4;
              background-color: white;
              overflow: hidden;
              filter: none;
              border: none;
              position: relative;
              left: 90%;
              bottom: 3px;
              margin-top: 3px;
              left: -38px;
              bottom: 4px;
              margin-top: 0;
              background-size: 22px 28px;
              border-top-right-radius: 25px;
              border-bottom-right-radius: 25px;
              padding-left: 5px;
              padding-right: 5px;
              text-transform: uppercase;
              //color: $main-red;
              font-weight: bold;
            }
          }
        }
      }
      .mobile-buttons-right {
        //margin-right: 10px;
        //margin-top: 5px;
      }
      .mobile-buttons-left {
        h5 {
          margin-bottom: 0;
          color: #fff;
          font-size: 19px;
        }
        .fa-search {
          display: none;
          @include breakpoint(medium down) {
            display: block;
          }
        }
        .region-header-top-left {
          @include breakpoint(medium down) {
            display: none;
          }
        }
      }
    }
  }

}
