.options-graphic {
  border-top-right-radius:30px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  margin: 4px;
}

.pulse {
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% { box-shadow: none;  }
  20% { box-shadow: 0 0 15px #DD2B2A; }
  65% { box-shadow: none; }
}

@-webkit-keyframes pulse {
  0% { box-shadow: none;  }
  20% { box-shadow: 0 0 15px #DD2B2A; }
  65% { box-shadow: none; }
}

.region-header-search {
  display: none;
  @include breakpoint(medium down) {
    display: block;
  }
}