body.node-type-product-display {
  #title-bar { display: none; }
  #comments { display: none; }
  .submitted { display: none; }
  .group-top {
    margin: 2em 0;
    & > div {
      display: flex !important;
      @include breakpoint(medium down) {
        flex-direction: column;
      }
    }
    .group-left-column {
      width: 50%;
      @include breakpoint(medium down) {
        width: 100%;
        order: 2;
        margin-top: 1em;
      }
      .gallery-slides {
        @include breakpoint(medium down) {
          width: auto !important;
          margin: 0 auto;
          .gallery-slide {
            @include breakpoint(medium down) {
              width: 100%;
              text-align: center;
            }
          }
        }
        .gallery-frame {
          @include breakpoint(medium down) {
            width: auto !important;
          }
        }
        .panel-overlay {
          display: none;
        }
      }
      .gallery-thumbs {
        width: 100% !important;
        @include breakpoint(medium down) {
          width: auto !important;
        }
      }
    }
    .group-right-column {
      @include breakpoint(large down) {
        padding-right: 0;
      }
      .commerce-price-savings-formatter-prices {
        border: none !important;
        .price-label {
          padding: 0 !important;
          text-transform: uppercase;
          font-size: 20px;
          font-weight: normal;
        }
      }
      select {
        margin-bottom: 0;
        max-width: 100% !important;
      }
      width: 50%;
      @include breakpoint(medium down) {
        width: 100%;
        order: 1;
        padding: 0 !important;
      }
      .field-label,
      .commerce-product-sku-label {
        text-transform: uppercase;
        color: grey;
        margin-right: 5px;
        font-size: 20px;
        font-weight: normal;
      }
      padding-left: 2em;
      padding-right: 2em;
      .commerce-product-title {
        text-transform: uppercase;
        font-size: 22px;
        line-height: 22px;
        padding-bottom: 12px;
        margin-bottom: 10px;
        border-bottom:3px solid $primary-light;
        .commerce-product-title-label {
          display: none;
        }
      }
      .field-name-field-category {
        display: flex;
        align-items: baseline;
        .field-items {
          display: flex;
          align-items: baseline;
          flex-wrap: wrap;
          .field-item {
            margin-right: 8px;
            &:after {
              content: ',';
            }
            &:last-child {
              &:after {
                content: none;
              }
            }
          }
        }
      }
      .field-name-field-brand {
        display: flex;
        align-items: baseline;
        .field-items {
          display: flex;
          align-items: baseline;
          flex-wrap: wrap;
          .field-item {
            margin-right: 8px;
            &:after {
              content: ',';
            }
            &:last-child {
              &:after {
                content: none;
              }
            }
          }
        }
      }
      .field-name-commerce-price {
        display: flex;
        align-items: baseline;
        .field-item {
          font-size: 20px;
          font-weight: bold;
        }
      }
      .commerce-add-to-cart {
        .form-type-textfield {
          display: flex;
          align-items: center;
          border-bottom:3px solid $primary-light;
          #edit-quantity {
            width: 40px !important;
          }
          label {
            text-transform: uppercase;
            color: grey;
            margin-right: 5px;
            font-size: 20px;
          }
          input {
            width: 100px;
          }
        }
        input[type="submit"] {
          @extend .fitment-light-button;
          text-transform: uppercase;
          font-size: 18px;
          height: 41px;
          padding:6px 25px 5px 25px;
          box-shadow: 0px 10px 14px -7px #6b6b6b;
        }
      }
    }
  }
  .group-bottom {
    padding-bottom: 0 !important;
    & > h3 {
      display: none;
      margin-bottom: 0;
    }
    iframe {
      max-width: 420px !important;
      @include breakpoint(large down) {
        display: block;
        margin: 0 auto;
      }
      @include breakpoint(small down) {
        width: 273px !important;
      }
    }
    .group-details {
      .commerce-product-field {
        .field {
          display: flex;
        }
      }
    }
    .group-specs {
      .field {
        display: flex;
      }
    }
    fieldset {
      border: none !important;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      padding-bottom: 5px !important;
      .fieldset-wrapper {
        margin-top: 0 !important;
      }
    }
    border: 1px solid #ccc;
    padding-bottom: 2em;
    .horizontal-tabs {
      border: none;
      ul.horizontal-tabs-list {
        li {
          min-width: inherit;
        }
      }
    }
    .horizontal-tabs-list {
      @include breakpoint(small down) {
        display: flex;
        flex-direction: column;
      }
      li {
        background: #2C2D2E;
        strong {
          color: white;
        }
        a {
          &:hover {
            strong {
              color: black;
            }
          }
        }
      }
      li.selected {
        background: $primary-light;
        strong {
          color: white;
        }
      }
    }
    .horizontal-tabs-panes {
      @include breakpoint(medium down) {
        padding-top: 1em;
      }
    }
    .field-collection-container {
      border-bottom: 0;
      margin-bottom: 0;
      .field-name-field-product-packaging {
        .field-item {
          margin-bottom: 0;
          .field-collection-view {
            margin-left: 0;
            padding-bottom: 0;
            padding-top: 0;
            .field-label {
              width: auto;
            }
          }
        }
      }
    }
  }
}