$primary-light: #a40205;
$primary-dark: #252525;
$accent-light: #BAB9B9;
$accent-dark: #570103;
$bg-light: #eee;

body {
  margin: 0;
  padding-top: 0 !important;
}

#admin-menu {
  #admin-menu-wrapper {
    font-size: 11px !important;
  }
}

//Main content fixes
#main {
  margin-top: 1.5em;
  margin-bottom: 1.7em;
}

//Tabs sizes
#main-content {
  .tabs {
    padding-top: 5px;
    padding-bottom: 5px;
    li {
      font-size: 16px;
      a {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }
}

//Default sidebar floats
body.one-sidebar {
  #sidebar {
    @include grid-column(3);
    @include breakpoint(medium down) {
      @include grid-column(12);
    }
  }
  #main-content,
  #title-bar {
    @include grid-column(9);
    @include breakpoint(medium down) {
      @include grid-column(12);
    }
  }
}

//Section headers
#section-header {
  text-align: center;
  h1 {
    margin-bottom: .5em;
    color: $primary-dark;
    @include breakpoint(medium down) {
      margin-bottom: 1em;
    }
  }
  span {
    color: $primary-light;
  }
}

#section-header-light {
  text-align: center;
  font-family: Nexa-Book;
  color: #fff;
  h1 {
    margin-bottom: 0;
  }
  span {
    font-family: Nexa-Black;
    color: blue;
  }
}

//add to any button
ul.inline {
  margin-left: 0;
  li.addtoany {
    padding: 0;
    .addtoany_share_save {
      padding: 0;
      margin-top: 8px;
    }
  }
}

//Horizontal tabs fixes
@include breakpoint(medium down) {
  ul.tabs {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    li {
      display: flex;
      margin-bottom: 2px;
      a {
        width: 100%;
        border: 1px solid lightgrey;
      }
    }
  }
}

//form field width fixes
#main-content {
  [type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'] {
    max-width: 485px;
  }
  .form-textarea-wrapper {
    max-width: 600px;
  }
  select {
    max-width: 270px;
  }
}

//remove default margin and padding on views:fieldsets
.content {
  .fieldset {
    margin: 0;
    padding: 0;
    border: none;
  }
}

//titles
#title-bar {
  h1 {
    border-bottom: 1px solid $primary-dark;
    margin-bottom: 18px;
  }
}

//custom pagination
.item-list {
  .pager {
    padding: 0;
    text-align: right;
    float: right;
    margin-top: 20px;
    .pager-current {
      background: $primary-light;
      border: 1px solid $primary-light;
      color: #fff;
      padding: 2px 12px;
      float: left;
    }
    li {
      margin: 0 5px 0 0;
      padding: 0;
      float: left;
      border: none;
      background-image: none;
      display: inline;
      list-style-type: none;
      a {
        color: #333;
        padding: 2px 12px;
        float: left;
        border: 1px solid #ddd;
        &:hover {
          background: $primary-light;
          border: 1px solid $primary-light;
          color: #fff;
        }
      }
    }
  }
}