//Commerce flow
body.page-checkout {
  .button-operator {
    margin: 0 10px;
  }
  input[type=text] {
  }
  input[type=submit] {
  }
  input[type=submit]#edit-commerce-coupon-coupon-add {
    @extend .grey-flat-button;
  }
  input[type=submit]#edit-cancel {
    @extend .grey-flat-button;
  }
  input[type=submit]#edit-back {
    @extend .grey-flat-button;
  }
  input[type=submit]#edit-continue {
    @extend .green-flat-button;
  }
}

body.page-cart {
  input.delete-line-item {
    font-size: 14px;
    @extend .grey-flat-button;
  }
  input[value="Update cart"] {
    margin-right: 15px;
    @extend .grey-flat-button;
  }
  input#edit-checkout {
    @extend .green-flat-button;
  }
  .views-table {
    border: 2px solid #6d6d6d;
  }
}

fieldset {
  background: #ffffff;
  border: 1px solid #cccccc !important;
  margin-top: 10px !important;
  margin-bottom: 32px !important;
  margin-left: 2px !important;
  margin-right: 2px !important;
  padding: 0 0 10px !important;
  position: relative;
  top: 12px;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  legend {
    background: #dbdbdb;
    border: 1px solid #ccc;
    border-bottom: none;
    display: block;
    height: 2em;
    left: -1px;
    line-height: 2;
    padding: 0;
    position: absolute;
    text-indent: 10px;
    text-shadow: 0 1px 0 #fff;
    top: -17px;
    width: 100%;
    box-sizing: content-box;
    -khtml-border-radius-topleft: 4px;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -khtml-border-radius-topright: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
  }
  .fieldset-wrapper {
    padding: 0 10px;
    margin-top: 25px;
  }
}

//Global table formats
table {
  border: 0;
  border-spacing: 0;
  margin: 10px 0;
  width: 100%;
  display: table;
  thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    th {
      border-bottom: 1px solid white;
      border-top: 1px solid #dddddd;
      font-weight: bold;
      color: #707070;
      text-shadow: white 1px 1px 0;
      background: linear-gradient(to bottom, #ededed 0%,#dedede 100%);
      padding: 10px 15px;
    }
  }
  tbody {
    tr {
      background-color: #F9F9F9;
      border-bottom: 1px solid #EDEDED !important;
      border-top: 1px solid white;
      &.odd {
        background-color: #f4f4f4;
      }
      &.even {
        background-color: #f9f9f9;
      }
      td {
        padding: 15px;
        border: none;
        a {
          text-decoration: none;
        }
        input[type=text] {

        }
        div {
          input[type=text] {
          }
        }
      }
    }
  }
}

