body.page-user,
body.page-user-password,
body.page-user-register {
  #main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .messages {
      width: 100%;
      margin-bottom: 1em;
    }
    .main-content-wrap {
      padding: 10px 25px !important;
      background-color: #efefef;
      border-radius: 15px;
      max-width: 750px;
      margin: 0 2em;
      @include breakpoint(medium down) {
        margin: 0 !important;
        width: 100%;
      }
      input[type='submit'] {
        @extend .blue-flat-button;
        font-weight: bold;
        padding: 8px 18px;
      }
      input[type='text'],
      input[type='password'] {
        max-width: 100%;
      }
    }
  }
}

body.page-user- {
  #main {
    .main-content-wrap {
      max-width: 1120px;
    }
  }
}